* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #1B4965;
}
.CV{
    border-radius: 5px;
    background-color: #5FA8D3;
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 300px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.message {
    padding: 100px;
    /* object-position: center; */
}

.message a{
    background-color:#CAE9FF ;
    border: 2px solid #CAE9FF;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.message input{
    display: block;
    width: 100%;
}
.nav{
    text-decoration: none;
    color: black;
    padding-left: 100px;
    padding-top: 50px;
}
/* .from, .title, .mesTA {
    font-size:
} */
.sendbutton{
    
}
.nav a{
    color: black;
}
.mesTA{
    width: 100%;
}