* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #1B4965;
}
.CV{
    border-radius: 5px;
    background-color: #CAE9FF;
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 300px;
}
.name_avatar {
    display: flex;
    flex-direction: row;
}
.ava{
    width: 150px;
    height: 150px;
    padding: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.name{
    /* font-size: 20px; */
    margin: auto;
    padding-right: 50px;
}

.in4{
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}
.skills, .his, .message{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.skills p, .in4 p, .his p{
    padding-top: 5px;
}

.message {
    padding-bottom: 50px;
    /* object-position: center; */
}

.message a{
    background-color:#CAE9FF ;
    border: 2px solid #CAE9FF;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.nav{
    text-decoration: none;
    color: black;
    padding-left: 100px;
    padding-top: 50px;
}

.nav a{
    color: black;
}